/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Medium.eot");
  src: url("../fonts/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Medium.woff2") format("woff2"), url("../fonts/TTNorms-Medium.woff") format("woff"), url("../fonts/TTNorms-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Bold.eot");
  src: url("vTTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("vTTNorms-Bold.woff2") format("woff2"), url("../fonts/TTNorms-Bold.woff") format("woff"), url("../fonts/TTNorms-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
h1,
h2,
h3,
h4 {
  font-family: "TT Norms";
}

#main-menu .main-menu-btn, p {
  font-family: "Open Sans";
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1,
h2 {
  color: #EE105A;
}

p {
  font-size: 18px;
}

.wraper {
  max-width: 1155px;
  margin: 0 auto;
}

.flex-container-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.flex-container-col {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.text-block p {
  text-align: center;
  color: #F9FBFF;
  font-size: 1.5em;
}

.nav-block {
  align-items: stretch;
  margin: 20px 0 20px 0;
}

.social-nav-btn {
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 4px;
  font-size: 24px;
  padding: 12px;
}
.social-nav-btn:hover {
  border-color: unset;
  box-shadow: 1.5px 1.5px 3px 0px #c8c8c8;
  margin-top: -1px;
  transition: 0.3s all;
}
.social-nav-btn:active {
  box-shadow: 1px 1px 3px 0px #c8c8c8;
  margin-top: 0px;
  margin-bottom: -1px;
  transition: 0.1s all;
}
@media screen and (max-width: 703px) {
  .social-nav {
    margin: auto;
  }
}

#main-menu ul {
  align-items: center;
  height: 100%;
}
#main-menu .main-menu-btn a {
  border: 2px solid transparent;
  border-radius: 8px;
  color: #F9FBFF;
  font-size: 16px;
  margin: 0 6px;
  padding: 12px;
}
#main-menu .main-menu-btn a:hover {
  border-color: unset;
  box-shadow: 1.5px 1.5px 3px 0px #c8c8c8;
  background-color: #EE105A;
  transition: 0.3s all;
}
#main-menu .main-menu-btn a:active {
  box-shadow: 1px 1px 3px 0px #c8c8c8;
  margin-top: 0px;
  transition: 0.1s all;
}
@media screen and (max-width: 703px) {
  #main-menu {
    display: none;
  }
}

#fb-nav {
  color: #3B5998;
}

#insta-nav {
  color: #405DE6;
}

#viber-nav {
  color: #8f5db7;
}

#home {
  background: linear-gradient(to right, #000001, #5C0609);
  min-height: 103vh;
  position: relative;
  padding: 20px 0;
}
#home:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3vh 0 0 49vw;
  border-color: transparent transparent transparent #EE91A3;
}
#home:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 3vh 49vw;
  border-color: transparent transparent #EE91A3 transparent;
}
#home img {
  max-height: 80vh;
  max-width: 100%;
}
#home .title-content {
  flex-basis: 650px;
  flex-shrink: 2;
}
#home .title {
  font-size: 5em;
  font-weight: bold;
  padding: 5px 5px 53px;
}
#home .title span {
  color: #F9FBFF;
}
#home .text-block p {
  line-height: 40px;
}
#home .text-block span {
  color: #EE105A;
  font-weight: 600;
  text-decoration: underline;
}
#home .btn-big {
  border-color: #F00A41;
  border-radius: 25px;
  background-color: #F00A41;
  color: #F9FBFF;
  cursor: pointer;
  font-size: 18px;
  margin-top: 62px;
  max-width: 260px;
  padding: 14px 28px;
}
@media screen and (max-width: 884px) {
  #home .home-content {
    flex-direction: column;
  }
  #home .img-container {
    order: -1;
  }
}

/*# sourceMappingURL=styles.css.map */
