@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Medium.eot");
  src: url("../fonts/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Medium.woff2") format("woff2"), url("../fonts/TTNorms-Medium.woff") format("woff"), url("../fonts/TTNorms-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-ExtraBoldItalic.eot");
  src: url("../fonts/TTNorms-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/TTNorms-ExtraBoldItalic.woff") format("woff"), url("../fonts/TTNorms-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Bold.eot");
  src: url("../fonts/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Bold.woff2") format("woff2"), url("../fonts/TTNorms-Bold.woff") format("woff"), url("../fonts/TTNorms-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-BoldItalic.eot");
  src: url("../fonts/TTNorms-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-BoldItalic.woff2") format("woff2"), url("../fonts/TTNorms-BoldItalic.woff") format("woff"), url("../fonts/TTNorms-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-ExtraBoldItalic.eot");
  src: url("../fonts/TTNorms-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/TTNorms-ExtraBoldItalic.woff") format("woff"), url("../fonts/TTNorms-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
#about .about-text .member-position, #program .program-list li::before, #program .program-list li, h1,
h2,
h3,
h4 {
  font-family: "TT Norms";
}

#about .about-text .member-skills, #about .about-text .member-name, #timer p, #advantages .adv-block .adv-block-text, #main-menu .main-menu-btn, .btn-big, p {
  font-family: "Open Sans";
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1,
h2 {
  color: #EE105A;
}

p {
  font-size: 18px;
}

span {
  color: #EE105A;
}

.wraper {
  max-width: 1155px;
  margin: 0 auto;
}
@media screen and (max-width: 960px) {
  .wraper {
    margin: 0 5px;
  }
}

.flex-container-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.flex-container-col {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.text-block p {
  text-align: center;
  color: #F9FBFF;
  font-size: 1.5em;
}
.text-block p span {
  color: #EE105A;
  font-weight: 600;
}

.title-s {
  color: #000;
  font-size: 48px;
  padding: 0 0 45px 0;
}
.title-s .sub-title-s {
  color: #EE105A;
  font-weight: 700;
}
@media screen and (max-width: 528px) {
  .title-s {
    font-size: 40px;
    padding: 0 0 36px 0;
  }
}

.title-xs {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.btn-big {
  border-color: #F00A41;
  border-radius: 25px;
  background-color: #F00A41;
  color: #F9FBFF;
  cursor: pointer;
  font-size: 18px;
  margin: 62px auto 0;
  padding: 14px 28px;
  text-align: center;
  text-transform: uppercase;
}
.btn-big:hover {
  border-color: #d8093a;
  background-color: #d8093a;
  margin-top: 60px;
  margin-bottom: 2px;
  box-shadow: 1px 1px 3px 0px #c8c8c8;
  transition: 0.2s all;
}
@media screen and (max-width: 528px) {
  .btn-big {
    margin: 32px auto 0;
  }
  .btn-big:hover {
    margin-top: 30px;
  }
}

#home {
  background: linear-gradient(to right, #000001, #5C0609);
  min-height: 97vh;
  position: relative;
  padding: 20px 0;
}
#home:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3vh 0 0 49vw;
  border-color: transparent transparent transparent #EE91A3;
}
#home:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 3vh 49vw;
  border-color: transparent transparent #EE91A3 transparent;
}
#home img {
  max-height: 80vh;
  max-width: 100%;
}
#home .title-content {
  flex-basis: 650px;
  flex-shrink: 2;
}
#home .title {
  font-size: 5em;
  font-weight: bold;
  padding: 5px 5px 53px;
}
#home .title span {
  color: #F9FBFF;
}
#home .text-block p {
  line-height: 40px;
}
#home .text-block span {
  text-decoration: underline;
}
@media screen and (max-width: 884px) {
  #home .home-content {
    flex-direction: column;
  }
  #home .img-container {
    order: -1;
  }
}
@media screen and (max-width: 550px) {
  #home .title {
    font-size: 48px;
    padding-bottom: 20px;
  }
  #home .text-block p {
    font-size: 1.5em;
    line-height: 32px;
  }
}
@media screen and (max-width: 528px) {
  #home .text-block p {
    font-size: 18px;
    line-height: 22px;
  }
}

.nav-block {
  align-items: stretch;
  margin: 20px 0 20px 0;
}

.social-nav-btn {
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 4px;
  font-size: 24px;
  padding: 12px;
}
.social-nav-btn:hover {
  border-color: unset;
  box-shadow: 1px 1px 3px 0px #c8c8c8;
  margin-top: -1px;
  transition: 0.3s all;
}
.social-nav-btn:active {
  box-shadow: 1px 1px 3px 0px #c8c8c8;
  margin-top: 0px;
  margin-bottom: -1px;
  transition: 0.1s all;
}
@media screen and (max-width: 703px) {
  .social-nav {
    margin: auto;
  }
}

#main-menu ul {
  align-items: center;
  height: 100%;
}
#main-menu .main-menu-btn a {
  border-bottom: 1px solid transparent;
  border-radius: 4px;
  color: #F9FBFF;
  font-size: 16px;
  margin: 0 6px;
  padding: 12px;
}
#main-menu .main-menu-btn a:hover {
  border-color: unset;
  box-shadow: 0px 0px 4px 0px #c8c8c8;
  transition: 0.4s all;
  text-decoration: none;
}
@media screen and (max-width: 703px) {
  #main-menu {
    display: none;
  }
}

#fb-nav {
  color: #3B5998;
}

#insta-nav {
  color: #405DE6;
}

#viber-nav {
  color: #8f5db7;
}

#advantages {
  background: linear-gradient(to left, #EE91A3, #EAA9B3);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  padding: 100px 0;
}
#advantages .flex-container-col {
  align-items: stretch;
}
#advantages .adv-block {
  align-items: center;
  display: flex;
  max-width: 545px;
  margin: 54px 0;
}
#advantages .adv-block .adv-block-img {
  flex-basis: 86px;
  margin-right: 6px;
}
#advantages .adv-block .adv-block-img img {
  display: block;
  margin: auto;
}
#advantages .adv-block .adv-block-text {
  font-weight: 600;
  flex-basis: 414px;
  line-height: 22px;
  margin: 0 auto;
  text-transform: uppercase;
}
@media screen and (max-width: 850px) {
  #advantages .adv-block {
    margin: 20px 0;
  }
  #advantages .adv-block .adv-block-text {
    flex-basis: 414px;
    font-size: 16px;
  }
}
@media screen and (max-width: 455px) {
  #advantages .adv-block .adv-block-text {
    flex-basis: 270px;
    font-size: 14px;
    line-height: 18px;
  }
  #advantages .adv-block .adv-block-img {
    flex-basis: 60px;
    max-width: 60px;
  }
  #advantages .adv-block .adv-block-img img {
    height: 50px;
  }
}
@media screen and (max-width: 385px) {
  #advantages .adv-block .adv-block-img img {
    max-height: 45;
    width: 45px;
  }
}
@media screen and (max-width: 792px) {
  #advantages {
    padding: 40px 0;
  }
  #advantages .flex-container-row {
    flex-direction: column;
  }
}

#gallery {
  background: linear-gradient(to right, #EE91A3, #EAA9B3);
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
  padding: 100px 0;
}
#gallery .gallery-box {
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}
#gallery .gallery-box .gallery-item {
  box-sizing: border-box;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  flex-basis: 330px;
  height: 330px;
  margin: 0 10px 46px;
}
@media screen and (max-width: 380px) {
  #gallery .gallery-box .gallery-item {
    flex-basis: 270px;
    height: 270px;
  }
}
#gallery .gallery-box .gallery-item img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 528px) {
  #gallery .btn-big {
    margin: 48px auto 0;
  }
  #gallery .btn-big:hover {
    margin-top: 46px;
    margin-bottom: 2px;
  }
}

.timer-box {
  margin: 0 auto;
  max-width: 460px;
}
.timer-box .btn-big {
  box-sizing: border-box;
  max-width: 316px;
}
.timer-box .btn-big:hover {
  box-shadow: 2px 2px 5px 0px black;
}

#timer p {
  color: #EE105A;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
#timer p span {
  border-bottom: 4px solid #EDC4CA;
  padding: 6px;
  position: relative;
}
#timer p #d::after {
  content: "днів";
  font-size: 14px;
  position: absolute;
  bottom: -24px;
  left: 16px;
}
#timer p #h::after {
  content: "годин";
  font-size: 14px;
  position: absolute;
  bottom: -24px;
  left: 12px;
}
#timer p #m::after {
  content: "хвилин";
  font-size: 14px;
  position: absolute;
  bottom: -24px;
  left: 4px;
}
#timer p #s::after {
  content: "секунд";
  font-size: 14px;
  position: absolute;
  bottom: -24px;
  left: 6px;
}
@media screen and (max-width: 528px) {
  #timer p {
    font-size: 40px;
  }
  #timer p #d::after {
    left: 12px;
  }
  #timer p #h::after {
    left: 4px;
  }
  #timer p #m::after {
    left: -2px;
  }
  #timer p #s::after {
    left: 0;
  }
}

#program {
  background: linear-gradient(to left, #889797, #E9F8F8);
  padding: 90px 0 100px 0;
}
#program .text-block {
  max-width: 816px;
}
#program .text-block p {
  color: #000;
  font-size: 18px;
  line-height: 28px;
}
#program .title-xs {
  margin: 20px 0 42px;
}
#program .program-list {
  counter-reset: my-awesome-counter;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-position: outside;
}
#program .program-list li {
  counter-increment: my-awesome-counter;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
}
#program .program-list li::before {
  content: "#" counter(my-awesome-counter);
  color: #EE105A;
  font-weight: bold;
  font-size: 64px;
  font-weight: bold;
  font-style: italic;
  line-height: 90px;
  margin-right: 10px;
}
@media screen and (max-width: 1132px) {
  #program .program-list li {
    margin: 0 20px;
  }
}
@media screen and (max-width: 760px) {
  #program .program-list li {
    font-size: 20px;
  }
  #program .program-list li::before {
    font-size: 46px;
  }
}
@media screen and (max-width: 680px) {
  #program .program-list li {
    margin: 14px 0;
    text-align: center;
  }
  #program .program-list li::before {
    font-size: 30px;
    line-height: 32px;
  }
}
@media screen and (max-width: 680px) {
  #program .program-list {
    flex-direction: column;
  }
}

#reviews {
  background: linear-gradient(to right, #889797, #E9F8F8);
  padding: 90px 0 40px 0;
}
#reviews .swiper-slide {
  align-items: center;
  display: flex;
  height: 710px;
  justify-content: center;
}
@media screen and (max-width: 660px) {
  #reviews .swiper-slide {
    height: 360px;
  }
}
@media screen and (max-width: 550px) {
  #reviews .swiper-slide {
    height: 250px;
  }
}
@media screen and (max-width: 390px) {
  #reviews .swiper-slide {
    height: 200px;
  }
}
#reviews .swiper-button-next {
  right: 16px;
}
#reviews .swiper-button-prev,
#reviews .swiper-button-next {
  background-image: none;
}
#reviews .swiper-button-prev .fas,
#reviews .swiper-button-next .fas {
  border-radius: 50%;
  font-size: 40px;
  color: #F9FBFF;
  opacity: 0.5;
}
#reviews .swiper-button-prev .fas:hover,
#reviews .swiper-button-next .fas:hover {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
  margin-top: -2px;
  transition: 0.2s all;
}
#reviews .swiper-button-prev .fas:active,
#reviews .swiper-button-next .fas:active {
  margin-top: 0px;
  transition: 0.2s all;
}
@media screen and (max-width: 660px) {
  #reviews .swiper-button-prev,
#reviews .swiper-button-next {
    display: none;
  }
}
#reviews .review-container {
  position: relative;
}
#reviews .review-title,
#reviews .review-text {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
}
#reviews .review-title {
  box-sizing: border-box;
  border-radius: 20px;
  position: absolute;
  left: -70px;
  top: 2px;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 660px) {
  #reviews .review-title {
    border-radius: 12px;
    left: -36px;
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 550px) {
  #reviews .review-title {
    border-radius: 10px;
    left: -46px;
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 430px) {
  #reviews .review-title {
    border-radius: 10px;
    left: -30px;
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 360px) {
  #reviews .review-title {
    border-radius: 10px;
    left: -26px;
    width: 20px;
    height: 20px;
  }
}
#reviews .review-text {
  border-radius: 22px;
}
@media screen and (max-width: 660px) {
  #reviews .review-text {
    max-height: 360px;
  }
}
@media screen and (max-width: 550px) {
  #reviews .review-text {
    max-height: 250px;
  }
}
@media screen and (max-width: 390px) {
  #reviews .review-text {
    max-height: 200px;
  }
}
#reviews .swiper-scrollbar {
  margin-top: 10px;
}
@media screen and (min-width: 660px) {
  #reviews .swiper-scrollbar {
    display: none;
  }
}

#about {
  background: linear-gradient(to right, #859297, #F3F5F5);
  padding: 90px 0 60px;
}
#about .flex-container-row {
  align-items: stretch;
  justify-content: center;
}
@media screen and (max-width: 960px) {
  #about .flex-container-row {
    flex-direction: column;
    align-items: center;
  }
}
#about .about-image {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about .about-image img {
  width: 80%;
}
@media screen and (max-width: 960px) {
  #about .about-image {
    width: 50%;
  }
}
@media screen and (max-width: 770px) {
  #about .about-image {
    width: 80%;
  }
}
@media screen and (max-width: 580px) {
  #about .about-image {
    flex-basis: unset;
    width: 100%;
  }
}
#about .about-text {
  align-items: flex-start;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0;
}
#about .about-text .member-name {
  font-size: 26px;
  line-height: 36px;
  text-align: left;
}
@media screen and (max-width: 580px) {
  #about .about-text .member-name {
    font-size: 22px;
    line-height: 32px;
    margin: 10px 0;
  }
}
#about .about-text .member-position {
  background: #EF2464;
  color: #F9FBFF;
  font-size: 22px;
  line-height: 24px;
  padding: 12px 8px 8px;
}
@media screen and (max-width: 580px) {
  #about .about-text .member-position {
    font-size: 16px;
    line-height: 36px;
    margin: 10px 0;
  }
}
#about .about-text .member-discription {
  color: #464646;
  font-size: 18px;
  line-height: 36px;
}
@media screen and (max-width: 580px) {
  #about .about-text .member-discription {
    font-size: 14px;
    line-height: 26px;
    margin: 10px 0;
  }
}
#about .about-text .member-skills {
  color: #464646;
  font-size: 18px;
  line-height: 30px;
  list-style: square inside url("data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==");
  text-transform: uppercase;
}
@media screen and (max-width: 580px) {
  #about .about-text .member-skills {
    font-size: 14px;
    line-height: 26px;
    margin: 10px 0;
  }
}
@media screen and (max-width: 580px) {
  #about .about-text {
    flex-basis: unset;
  }
}

/*# sourceMappingURL=styles.css.map */
