// main styles

h1, 
h2,
h3,
h4 {
    @extend %primaryFont;
    text-align: center;
}

h1,
h2 {
    color: $titleColor;
}

p {
    @extend %secondaryFont;
    font-size: 18px;
}

span {
    color: $spanColor;
}

.wraper {
    max-width: 1155px;
    margin: 0 auto;

    @media screen and (max-width: 960px) {
        margin: 0 5px;
    } 
}

.flex-container-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.flex-container-col {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.text-block {
    p {
        text-align: center;
        color: $lightFontColor;
        font-size: 1.5em;       

        span {
            color: $titleColor;
            font-weight: 600;
        }
    }
}

.title-s {
    color: $titleColorBlack;
    font-size: 48px;
    padding: 0 0 45px 0;

    .sub-title-s {
        color: $titleColor;
        font-weight: 700;
    }

    @media screen and (max-width: 528px) {
        font-size: 40px;
        padding: 0 0 36px 0;
    }

}

.title-xs{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.btn-big {
    border-color: $bigBtnBGColor;
    border-radius: 25px;
    background-color: $bigBtnBGColor;
    color: $lightFontColor;
    cursor: pointer;
    @extend %secondaryFont;
    font-size: 18px;
    margin: 62px auto 0;
    padding: 14px 28px;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        border-color: darken($bigBtnBGColor, 5%);
        background-color: darken($bigBtnBGColor, 5%);
        box-shadow: 1px 1px 3px 0px rgba(200,200,200,1);
        margin-top: 60px;
        margin-bottom: 2px;
        transition: 0.2s all;
    }

    @media screen and (max-width: 528px)  {
        margin: 32px auto 0;

        &:hover {
            margin-top: 30px;
        }
    }
}

.btn-sml {
    border-color: $bigBtnBGColor;
    border-radius: 25px;
    background-color: $bigBtnBGColor;
    color: $lightFontColor;
    cursor: pointer;
    @extend %secondaryFont;
    font-size: 16px;
    margin: 20px auto 0;
    padding: 12px 20px;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        border-color: darken($bigBtnBGColor, 5%);
        background-color: darken($bigBtnBGColor, 5%);
        box-shadow: 1px 1px 3px 0px rgba(80, 80, 80,1);
        margin-top: 18px;
        margin-bottom: 2px;
        transition: 0.2s all;
    }

    @media screen and (max-width: 528px)  {
        margin: 32px auto 0;

        &:hover {
            margin-top: 30px;
        }
    }

}
// header section styles

#home {
    background: linear-gradient(to right,#000001, #5C0609);
    min-height: 97vh;
    position: relative;
    padding: 20px 0;

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 3vh 0 0 49vw;
        border-color: transparent transparent transparent #EE91A3;
    }

    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 3vh 49vw;
        border-color: transparent transparent #EE91A3 transparent;
    }

    img {
        max-height: 80vh;
        max-width: 100%;
    }

    .title-content {
        flex-basis: 650px;
        flex-shrink: 2;

    }

    .title {
        font-size: 5em;
        font-weight: bold;
        padding: 5px 5px 53px;

        span {
            color: $lightFontColor;
        }
    }

    .text-block {
        p {
            line-height: 40px;
        }

        span {
            text-decoration: underline;
        }
    }

    @media screen and (max-width: 884px) {
        .home-content {
            flex-direction: column;
        }

        .img-container {
            order: -1;
        }


        
    }

    @media screen and (max-width: 550px) {
        .title {
            font-size: 48px;
            padding-bottom: 20px;
        }

        .text-block {
            p {
                font-size: 1.5em;
                line-height: 32px;
            }
        }
    }
    
    @media screen and (max-width: 528px) {
        .text-block {
            p {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}

// navbar styles
.nav-block {
    align-items: stretch;
    margin: 20px 0 20px 0;
}

.social-nav {

    &-btn {
        box-sizing: border-box;
        border: 2px solid transparent;
        border-radius: 4px;
        font-size: 24px;
        padding: 12px;

        &:hover {
            border-color: unset;
            box-shadow: 1px 1px 3px 0px rgba(200,200,200,1);
            margin-top: -1px;
            transition: 0.3s all;
        }

        &:active {
            box-shadow: 1px 1px 3px 0px rgba(200,200,200,1);
            margin-top: 0px;
            margin-bottom: -1px;
            transition: 0.1s all;
        }
    }

    @media screen and (max-width: 703px) {
        margin: auto;
    }
}

#main-menu {

    ul {
        align-items: center;
        height: 100%;
    }

    .main-menu-btn {
        @extend %secondaryFont;

        a {
            border-bottom: 1px solid transparent;
            // border-top: 1px solid transparent;
            // border: 1px solid transparent;
            border-radius: 4px;
            color: $lightFontColor;
            font-size: 16px;
            margin: 0 6px;
            padding: 12px;

            &:hover {
                border-color: unset;
                box-shadow: 0px 0px 4px 0px rgba(200,200,200,1);
                // background-color: $titleColor;
                transition: 0.4s all;
                text-decoration: none;
            }
        }
    }

    @media screen and (max-width: 703px) {
        display: none;
    }
}
 
#fb-nav {
    color: $facebookColor;
}

#insta-nav {
    color: $instaColor;

}

#viber-nav {
    color: $viberColor;
}

// advantages section

#advantages {
    
    background: linear-gradient(to left,#EE91A3, #EAA9B3);
    // background: linear-gradient(to right,#EE91A3, #F0E6E9);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    padding: 100px 0;

    .flex-container-col {
        align-items: stretch;  
    }

    .adv-block {
        align-items: center;
        display: flex;
        max-width: 545px;
        margin: 54px 0;

        .adv-block-img {
            flex-basis: 86px;
            margin-right: 6px;
            
            img {
                display: block;
                margin: auto;
            }
        }

        .adv-block-text {
            @extend %secondaryFont;
            font-weight: 600;
            flex-basis: 414px;
            line-height: 22px;
            margin: 0 auto;
            text-transform: uppercase;
        }

        @media screen and (max-width: 850px) {
            margin: 20px 0;

            .adv-block-text {
                flex-basis: 414px;
                font-size: 16px;
            }

        }        

        @media screen and (max-width: 455px) {
            .adv-block-text {
                flex-basis: 270px;
                font-size: 14px;
                line-height: 18px;
            }

            .adv-block-img {
                flex-basis: 60px;
                max-width: 60px;

                img {
                    height: 50px;
                }
            }
        }

        @media screen and (max-width: 385px) {

            .adv-block-img {

                img {
                    max-height: 45;
                    width: 45px;
                }
            }
        }

    }

    @media screen and (max-width: 792px) {
        padding: 40px 0;

        .flex-container-row {
            flex-direction: column;
        }
    }
}

// Galery section

#gallery {
    // background: linear-gradient(to right,#EE91A3, #F0E6E9);
    background: linear-gradient(to right,#EE91A3, #EAA9B3);
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.75);
    padding: 100px 0;

    .gallery-box {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 40px;

        .gallery-item {
            box-sizing: border-box;
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
            flex-basis: 330px;
            height: 330px;
            margin: 0 10px 46px;

            @media screen and (max-width: 380px) {
                flex-basis: 270px;
                height: 270px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    @media screen and (max-width: 528px) {
        .btn-big {
            margin: 48px auto 0;

            &:hover {
                margin-top: 46px;
                margin-bottom: 2px;
            }
        }
    }

}

.timer-box {
    margin: 0 auto;
    max-width: 460px;
    
    .btn-big {
        box-sizing: border-box;
        max-width: 316px;

        &:hover {
            box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
        }
    }
}

#timer {
    p {
        color: $titleColor;
        @extend %secondaryFont;
        font-size: 3em;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;

        span {
            border-bottom: 4px solid $timerUnderline;
            padding: 6px;
            position: relative;
            
        }

        #d {

            &::after {
                content: 'днів';
                font-size: 14px;
                position: absolute;
                bottom: -24px;
                left: 16px;
            }
        }

        #h {

            &::after {
                content: 'годин';
                font-size: 14px;
                position: absolute;
                bottom: -24px;
                left: 12px;
            }
        }
        

        #m {

            &::after {
                content: 'хвилин';
                font-size: 14px;
                position: absolute;
                bottom: -24px;
                left: 4px;
            }
        }

        #s {

            &::after {
                content: 'секунд';
                font-size: 14px;
                position: absolute;
                bottom: -24px;
                left: 6px;
            }
        }   

        @media screen and (max-width: 528px) {
            font-size: 40px;
            

        #d {

            &::after {
                left: 12px;
            }
        }

        #h {

            &::after {
                left: 4px;
            }
        }        

        #m {

            &::after {
                left: -2px;
            }
        }

        #s {

            &::after {
                left: 0;
            }
        } 
        }     
    }
}

// program section styles

#program {
    background: linear-gradient(to left,#889797, #E9F8F8);
    padding: 90px 0 100px 0;
    
    .text-block {
        max-width: 816px;

        p {
            color: $darkFontColor;
            font-size: 18px;
            line-height: 28px;
        }
    }

    .title-xs {
        margin: 20px 0 42px;
    }

    .program-list {
        counter-reset: my-awesome-counter;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style-position: outside;
  
        li {
            counter-increment: my-awesome-counter;
            color: $darkFontColor;
            @extend %primaryFont;
            font-size: 22px;
            font-weight: bold;
            line-height: 32px;

            &::before {
                content: "#" counter(my-awesome-counter);
                color: $spanColor;
                font-weight: bold;
                @extend %primaryFont;
                font-size: 64px;
                font-weight: bold;
                font-style: italic;
                line-height: 90px;
                margin-right: 10px;
            }

            @media screen and (max-width: 1132px) {
                margin: 0 20px;
            }

            @media screen and (max-width: 760px) {
                font-size: 20px;

                &::before {
                    font-size: 46px;
                }
            }

            @media screen and (max-width: 680px) {

                margin: 14px 0;
                text-align: center;

                &::before {
                    font-size: 30px;
                    line-height: 32px;
                }
            }

        }  
        
        @media screen and (max-width: 680px) {
            flex-direction: column;
        }
    }
}

// reviews section

#reviews {
    background: linear-gradient(to right,#889797, #E9F8F8);
    padding: 90px 0 40px 0;

    .swiper-slide {
        align-items: center;
        display: flex;
        height: 710px;
        justify-content: center;
        // position: relative;

        @media screen and (max-width: 660px) {
            height: 360px;
        }

        @media screen and (max-width: 550px) {
            height: 250px;
        }

        @media screen and (max-width: 390px) {
            height: 200px;
        }
    }

    .swiper-button-next {
        right: 16px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background-image: none;

        .fas {
            border-radius: 50%;
            font-size: 40px;
            color: $lightFontColor;
            opacity: .5;

            &:hover {
                box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
                margin-top: -2px;
                transition: 0.2s all;
            }

            &:active {
                margin-top: 0px;
                transition: 0.2s all;

            }
        }

        @media screen and (max-width: 660px) {
            display: none;
        }
    }

    .review-container {
        position: relative;
    }

    .review-title,
    .review-text {
        box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
    }

    .review-title {
        box-sizing: border-box;
        border-radius: 20px;
        position: absolute;
        left: -70px;
        top: 2px;
        width: 50px;
        height: 50px;
        
        @media screen and (max-width: 660px) {
            border-radius: 12px;
            left: -36px;
            width: 32px;
            height: 32px;
        }

        @media screen and (max-width: 550px) {
            border-radius: 10px;
            left: -46px;
            width: 30px;
            height: 30px;
        }

        @media screen and (max-width: 430px) {
            border-radius: 10px;
            left: -30px;
            width: 24px;
            height: 24px;
        }

        @media screen and (max-width: 360px) {
            border-radius: 10px;
            left: -26px;
            width: 20px;
            height: 20px;
        }
    }

    .review-text {
        border-radius: 22px;
        @media screen and (max-width: 660px) {
            max-height: 360px;
        }

        
        @media screen and (max-width: 550px) {
            max-height: 250px;
        }

        @media screen and (max-width: 390px) {
            max-height: 200px;

        }
    }

    .swiper-scrollbar {
        margin-top: 10px;
        @media screen and (min-width: 660px) {
            display: none;
        }
    }

}

// about section

#about {
    background: linear-gradient(to right,#859297, #F3F5F5);
    padding: 90px 0 60px;

    .flex-container-row {
        align-items: stretch;
        justify-content: center;

        @media screen  and (max-width: 960px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .about-image {
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 80%;
        }

        @media screen  and (max-width: 960px) {
            width: 50%;
        }

        @media screen  and (max-width: 770px) {
            width: 80%;
        }

        @media screen  and (max-width: 580px) {
            flex-basis: unset;
            width: 100%;
        }
    }

    .about-text {
        align-items: flex-start;
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 0;

        .member-name {
            @extend %secondaryFont;
            font-size: 26px;
            line-height: 36px;
            text-align: left;
            
            @media screen  and (max-width: 580px) {
                font-size: 22px;
                line-height: 32px;
                margin: 10px 0;
            }
        }

        .member-position {
            @extend %primaryFont;
            background: $spanBGColor;
            color: $lightFontColor;
            // display: block;
            font-size: 22px;
            line-height: 24px;
            padding: 12px 8px 8px; 
            
            @media screen  and (max-width: 580px) {
                font-size: 16px;
                line-height: 36px;
                margin: 10px 0;
            }
        }

        .member-discription {
            color: $grayFontColor;
            font-size: 18px;
            line-height: 36px;
            
            @media screen  and (max-width: 580px) {
                font-size: 14px;
                line-height: 26px;
                margin: 10px 0;
            }
        }

        .member-skills {
            @extend %secondaryFont;
            color: $grayFontColor;
            font-size: 18px;
            line-height: 30px;
            list-style: square inside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
            text-transform: uppercase;
            
            @media screen  and (max-width: 580px) {
                font-size: 14px;
                line-height: 26px;
                margin: 10px 0;
            }
        }

        @media screen  and (max-width: 580px) {
            flex-basis: unset;
        }
    }
}

// tariffs section


#tariffs {
    background: linear-gradient(to right,#240304, #5C0609);
    position: relative;
    padding: 40px 0;

    .tariffs-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &-item {
            background: $tariffsBGColor;
            box-shadow: 1px 1px 4px 0px rgba(80, 80, 80, 0.75);
            border-radius: 16px;
            display: flex;
            flex-basis: 300px;
            flex-direction: column;
            justify-content: center;
            margin: 20px 10px;
            padding: 40px 20px;

            ul {
                @extend %secondaryFont;
                display: flex;
                flex-direction: column;
                flex-grow: 2;
                justify-content: space-around;
                list-style-position: outside;
                margin: 20px 0;

                li {
                    color: $lightGrayFontColor;
                    font-size: 16px;
                    line-height: 24px;

                    &::before {
                        content: "#";
                        color: $spanColor;
                        font-weight: bold;
                        @extend %primaryFont;
                        font-size: 16px;
                        font-weight: bold;
                        font-style: italic;
                        // line-height: 90px;
                        margin-right: 10px;
                    }
                }
            }

            .price,
            .item-title {
                @extend %primaryFont;
                font-size: 24px;
                font-weight: bold;
                text-align: center;
            }
            
            .item-title {
                margin-bottom: 20px;
            }

            .price {
                margin-top: 20px;
            }
        }

    }

}

// Contact styles

#contact {
    background: linear-gradient(to left,#240304, #000001);
    padding: 14px 0;

    .title-s {
        color: $titleColor;
        font-size: 26px;
        padding-bottom: 20px;
    }

    .contact-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .contact-item {
        font-size: 16px;
        margin-bottom: 0 4px 18px;

        a {
            color: $lightFontColor;

            .fab,
            .fas,
            .far {
                font-size: 20px;
                margin-right: 4px;
            }
        }
    }
}


// forms & popup styles

#popup,
#lite-popup,
#pro-popup,
#elite-popup {
    background: $popupBGColor;
    display: none;
    position: fixed;
    z-index: 10000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#leed-form,
#leed-form-lite,
#leed-form-pro,
#leed-form-elite {
    background: linear-gradient(to right,#889797, #E9F8F8);
    border-radius: 8px;
    max-width: 300px;
    margin: auto;
    padding: 40px 0;
    position: relative;
    
    .title-s {
        font-size: 20px;
        margin: 20px;
        padding: 10px 0;
    }

    input {
        @extend %primaryFont;
        display: block;
        font-size: 16px;
        margin: 20px auto 0;
        min-width: 260px;
        outline: none;
        padding: 4px 6px;
    }

    .btn-sml {
        display: block;
        margin: 20px auto 0;
        padding: 8px 40px;
    }

    .form-input {
        background: $popupInputBGColor;
        border-radius: 8px;
        border: 2px solid $tariffsBGColor;
    }

    #close-popup,
    #close-lite-popup,
    #close-pro-popup,
    #close-elite-popup {
        border-radius: 50%;
        border: none;
        color: $grayFontColor;
        cursor: pointer;
        font-size: 30px;
        opacity: .6;
        position: absolute;
        top: 2px;
        right: 2px;

        &:hover {
            box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
            margin-top: -1px;
            transition: 0.2s all;
        }

        &:active {
            margin-top: 0px;
            transition: 0.2s all;

        }
    }
    
}
