// fontFace
@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Medium.eot');
    src: url('../fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Medium.woff2') format('woff2'),
        url('../fonts/TTNorms-Medium.woff') format('woff'),
        url('../fonts/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-ExtraBoldItalic.eot');
    src: url('../fonts/TTNorms-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/TTNorms-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/TTNorms-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Bold.eot');
    src: url('../fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Bold.woff2') format('woff2'),
        url('../fonts/TTNorms-Bold.woff') format('woff'),
        url('../fonts/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-BoldItalic.eot');
    src: url('../fonts/TTNorms-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-BoldItalic.woff2') format('woff2'),
        url('../fonts/TTNorms-BoldItalic.woff') format('woff'),
        url('../fonts/TTNorms-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-ExtraBoldItalic.eot');
    src: url('../fonts/TTNorms-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/TTNorms-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/TTNorms-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.eot');
    src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

// fonts

%primaryFont {
    font-family: 'TT Norms';
}

%secondaryFont {
    font-family: 'Open Sans';
}

//Font colors

$titleColor : rgb(238, 16, 90);
$titleColorBlack: rgb(0, 0, 0);
$darkFontColor: rgb(0, 0, 0);
$lightFontColor: rgb(249, 251, 255);
$grayFontColor: rgb(70, 70, 70);
$lightGrayFontColor: lighten($grayFontColor,45%);
$spanColor: $titleColor;

// social networks colors

$viberColor: rgb(143, 93, 183);
$facebookColor: rgb(59, 89, 152);
$instaColor: rgb(64, 93, 230);
$ytColor: rgb(196, 48, 43);

// BG & other colors

$bigBtnBGColor: rgb(240, 10, 65);

$timerUnderline: rgb(237, 196, 202);

$spanBGColor: rgb(239, 36, 100);

$tariffsBGColor: rgba(237, 196, 202, .1);

$popupBGColor: rgba(40, 40, 40, .6);

$popupInputBGColor: lighten($timerUnderline, 9%);