// fontFace
@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Medium.eot');
    src: url('../fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Medium.woff2') format('woff2'),
        url('../fonts/TTNorms-Medium.woff') format('woff'),
        url('../fonts/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Bold.eot');
    src: url('vTTNorms-Bold.eot?#iefix') format('embedded-opentype'),
        url('vTTNorms-Bold.woff2') format('woff2'),
        url('../fonts/TTNorms-Bold.woff') format('woff'),
        url('../fonts/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.eot');
    src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

// fonts

%primaryFont {
    font-family: 'TT Norms';
}

%secondaryFont {
    font-family: 'Open Sans';
}

//Font colors

$titleColor : #EE105A;
$titleColorBlack: #000;
$lightFontColor: #F9FBFF;

// social networks colors

$viberColor: #8f5db7;
$facebookColor: #3B5998;
$instaColor: #405DE6;

// BG colors

$bigBtnBGColor: #F00A41;

$timerUnderline: #EDC4CA;